﻿@model Hackathon.Models.BlockViewModel
Nonce:
<p contentEditable style="background-color: rgba(43, 43, 251, 0.49);display: inline;">@Model.Nonce</p>
<br/>
Previous hash:
<p contentEditable style="background-color: rgba(43, 43, 251, 0.49);display: inline;">@Model.Previous</p>
<br />

Current hash:
@if (!Model.IsValid)
{
    <p contentEditable style="background-color: rgba(255, 20, 60, 0.5);display: inline;">@Model.Hash</p>
}
else
{
    <p contentEditable style="background-color:rgba(0, 128, 0, 0.5);display: inline;">@Model.Hash</p>
}
