﻿@{
    ViewBag.Title = "Home Page";
}
@model Hackathon.Models.BlockchainViewModel
@Scripts.Render("~/bundles/jquery")

    @foreach (var block in Model.Blocks)
    {
        <div class="jumbotron">
            <div>Hääl nr. @block.BlockNr</div>

            @Html.TextBoxFor(s => block.Data, new { data_block_no = block.BlockNr, id = "MyId", @class = "form-control blockElement" })
            <button type="button" class="btn btn-success Mine" data-block_no=@block.BlockNr>Hääleta</button>
            <div class="refTable" data-block_no=@block.BlockNr>
                @Html.Partial("__Valid", block)
            </div>
        </div>
    }

<script>

    $(document).ready(function () {
        var typingTimer;             //timer identifier
        var doneTypingInterval = 0;  //time in ms, 5 second for example
        var $input = $('.newClass');

        var i;
        for (i = 1; i < $('.blockElement').length + 1; i++) {
            mineHash(i);
        }
        function linkNodes() {
            for (i = 1; i < $('.blockElement').length; i++) {
                var prevHash = $('div.refTable[data-block_no=' + i + ']').children('p')[2].innerHTML;
                console.log(i + 1);
                $('div.refTable[data-block_no=' + (i + 1) + ']').children('p')[1].innerHTML = prevHash;
            }
        }
        //on keyup, start the countdown
        $('.jumbotron').on('keyup', '.blockElement', function () {
            var id = $(this).data('block-no');
            clearTimeout(typingTimer);
            typingTimer = setTimeout(doneTyping(id), doneTypingInterval);
        });

        //on keydown, clear the countdown
        $input.on('keydown', function () {
            clearTimeout(typingTimer);
        });

        function updateFollowing(currentIndex) {
            var nextIndex = currentIndex + 1;
            var hashValue = $('div.refTable[data-block_no=' + currentIndex + ']').children('p')[2].innerHTML;
            $('div.refTable[data-block_no=' + nextIndex + ']').children('p')[2].innerHTML = hashValue;
            doneTyping(nextIndex);
        }

        //user is "finished typing," do something
        function doneTyping(blockNumber) {
            var val = $('.blockElement[data-block-no=' + blockNumber + ']')[0].value;
            var nonce = $('div.refTable[data-block_no=' + blockNumber + ']').children('p')[0].innerHTML;

            var prev = $('div.refTable[data-block_no=' + blockNumber + ']').children('p')[1].innerHTML;

            $.ajax({
                url: "/Home/UpdatePartial",
                type: "GET",
                data: { data: val, nonce: nonce, previous: prev }
            })
                .done(function (partialViewResult) {
                    $('div.refTable[data-block_no=' + blockNumber + ']').html(partialViewResult);
                    linkNodes();
                    if (blockNumber < $('.blockElement').length) {
                        updateFollowing(blockNumber);
                    }
                });
        }

        $('.Mine').click(function () {
            var val = $(this).data('block_no');
            mineHash(val);
        });

        function mineHash(blockNumber) {
            var val = $('.blockElement[data-block-no=' + blockNumber + ']')[0].value;
            var prev = $('div.refTable[data-block_no=' + blockNumber + ']').children('p')[1].innerHTML;
            $.ajax({
                url: "/Home/MinePartial",
                type: "GET",
                data: { data: val, previous: prev }
            })
                .done(function (partialViewResult) {
                    $('div.refTable[data-block_no=' + blockNumber + ']').html(partialViewResult);
                    linkNodes();
                });
        }
    });
</script>